streamlit 
youtube-transcript-api 
streamlit-player 
pandas
python-dotenv 
requests
google-genai
pyzotero
docling
requests
pymupdf4llm
langchain 
langchain-community
langchain-openai
langchain-huggingface 
langchain-ollama 
langchain-chroma
chromadb 
tiktoken
trafilatura
